<nz-result nzStatus="404" *ngIf="!book" nzTitle="Not found" nzSubTitle="No book exists with id {{ bookId }}">
  <div nz-result-extra>
    <button nz-button nzType="primary"><a routerLink="/">Back Home</a></button>
  </div>
</nz-result>
<div *ngIf="book" class="container">
  <div class="row">
    <div class="col-4">
      <img class="details-img" alt="example"
        src="{{ book.imageURI ? book.imageURI : 'assets/placeholder-image.png' }}" />
      <br />
      <div *ngFor="let author of book.authors">
        <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
        <h4 class="author-name">{{ author }}</h4>
      </div>
      <nz-rate class="details-rate mt-1" [ngModel]="book.rating" nzDisabled nzAllowHalf></nz-rate>
    </div>

    <div class="col-8 pl-4">
      <h2>{{ book.title }}</h2>
      <p class="lead">{{ book.description }}</p>
    </div>
  </div>
</div>
<h3 *ngIf="book" class="page-header mb-2 mt-3">Other Books you may like</h3>
<nz-carousel nzAutoPlay [nzAutoPlaySpeed]="5000" [nzEnableSwipe]="false">
  <div nz-carousel-content *ngFor="let booksArray of carouselBooksArray">
    <div class="book-container mt-3">
      <div *ngFor="let b of booksArray">
        <book-preview [book]="b" [customWidth]="200" [customHeight]="226" [showRating]="false"></book-preview>
      </div>
    </div>
  </div>
</nz-carousel>