<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <!-- TODO: Logo -->
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item>Search</li>
            <li nz-menu-item>Add Books</li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">Content</div>
    </nz-content>
    <nz-footer>Exercise Bookstore &nbsp;&ndash;&nbsp; Tsiaras ©2020</nz-footer>
</nz-layout>