<nz-layout class="layout">
    <nz-header>
        <div class="logo"></div>
        <!-- TODO: Logo -->
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item><a routerLink="/search">Search</a></li>
            <li nz-menu-item><a routerLink="/add">Add Book</a></li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a routerLink="/">Home</a></nz-breadcrumb-item>
            <nz-breadcrumb-item *ngFor="let item of breadcrumbsList">{{ item }}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <router-outlet class="inner-content"></router-outlet>
        </div>
    </nz-content>
    <nz-footer>Exercise Bookstore &nbsp;&ndash;&nbsp; Tsiaras ©2020</nz-footer>
</nz-layout>