<nz-layout class="layout">
    <nz-header>
        <div class="logo">
            <a routerLink="/"><img class="logo-img" alt="logo" src="assets/img/logo.png" /></a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item><a routerLink="/search">Search</a></li>
            <li nz-menu-item><a routerLink="/add">Add Book</a></li>
            <li nz-menu-item class="item-right">
                <a routerLink="/login"
                    >Login &nbsp;<i nz-icon nzType="login" nzTheme="outline" style="font-size: 19px"></i>
                </a>
            </li>
            <li nz-menu-item class="item-right">
                <a routerLink="/cart">
                    My Cart &nbsp;
                    <nz-badge [nzCount]="cartNum" [nzOverflowCount]="9">
                        <i nz-icon nzType="shopping-cart" nzTheme="outline" style="font-size: 21px"></i>
                    </nz-badge>
                </a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <nz-breadcrumb>
            <nz-breadcrumb-item><a routerLink="/">Home</a></nz-breadcrumb-item>
            <nz-breadcrumb-item *ngFor="let item of breadcrumbsList">{{ item }}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            <router-outlet class="inner-content"></router-outlet>
        </div>
    </nz-content>
    <nz-footer>Exercise Bookstore &nbsp;&ndash;&nbsp; Tsiaras ©2020</nz-footer>
</nz-layout>
