.layout {
    min-height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

nz-header {
    position: fixed;
    width: 100%;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0 50px;
    margin-top: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 380px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

nz-footer {
    text-align: center;
    background: #001529;
    color: darkgray;
}

.ant-layout-header {
    z-index: 1;
}

li {
    font-size: 16px;
}

.item-right {
    float: right;
}

::ng-deep .ant-badge-count {
    transform: scale(0.88) translate(5%, -50%);
}

.logo {
    background: none;
}

.logo-img {
    height: 28px;
    margin-top: -35px;
    margin-left: -5px;
}
