<h2 class="page-header">Add New Book</h2>
<!-- <form nz-form [formGroup]="addForm" class="book-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group>
        <input type="text" nz-input formControlName="title" placeholder="Title" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="book-form-margin" [nzType]="'primary'">SAVE</button>
</form> -->

<form class="p-3" [formGroup]="addForm" (ngSubmit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-7">
      <label class="control-label required" for="title">Title</label>
      <input class="form-control" id="title" formControlName="title">
      <div *ngIf="addForm.controls.title.dirty && addForm.controls.title.touched" class="text-danger">
        <div *ngIf="addForm.controls.title.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.title.errors?.minlength">
          <!-- Getting the required length from the error itself instead of hardcoding it in this message for easier future refactors: -->
          The minimum length for this field is {{ addForm.controls.title.errors.minlength.requiredLength }} characters
        </div>
        <div *ngIf="addForm.controls.title.errors?.maxlength">
          The maximum length for this field is {{ addForm.controls.title.errors.maxlength.requiredLength }} characters
        </div>
        <div *ngIf="addForm.controls.title.errors?.pattern">
          Special characters other than @"#&*! are not allowed
        </div>
      </div>

      <label class="control-label required" for="title">Description</label>
      <input class="form-control" id="description" formControlName="description">
      <div *ngIf="addForm.controls.description.dirty && addForm.controls.description.touched" class="text-danger">
        <div *ngIf="addForm.controls.description.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.description.errors?.maxlength">
          The maximum length for this field is {{ addForm.controls.description.errors.maxlength.requiredLength }}
          characters
        </div>
        <div *ngIf="addForm.controls.description.errors?.pattern">
          Description must start with an uppercase letter
        </div>
      </div>

      <label class="control-label">
        <label class="required" for="categories">Categories</label>
        <div class="text-secondary">Select from the existing ones or write your own!</div>
      </label>
      <nz-select nzMode="tags" nzPlaceHolder="Tag Mode" formControlName="categories">
        <nz-option *ngFor="let option of categoriesOptions" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>
      <div *ngIf="addForm.controls.categories.dirty && addForm.controls.categories.touched" class="text-danger">
        <div *ngIf="addForm.controls.categories.errors?.required">
          At least 1 category is required
        </div>
        <div *ngIf="addForm.controls.categories.errors?.maxlength">
          The maximum allowed categories are {{ addForm.controls.categories.errors.maxlength.requiredLength }}
        </div>
      </div>

      <label class="control-label required" for="authors">Authors</label><br />
      <app-tag-extendable-array (tagArray)="updateAuthors($event)" [addMsg]="' Add Author'" [maxLen]="3">
      </app-tag-extendable-array>
      <div *ngIf="addForm.controls.authors.dirty && addForm.controls.authors.touched" class="text-danger">
        <div *ngIf="addForm.controls.authors.errors?.required">
          At least 1 author is required
        </div>
        <div *ngIf="addForm.controls.authors.errors?.maxlength">
          The maximum allowed authors are {{ addForm.controls.authors.errors.maxlength.requiredLength }}
        </div>
      </div>

    </div>

    <div class="col-md-5 text-center mt-5">
      <app-upload-image (imageUploaded)="onImageUpload($event)"></app-upload-image>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-7">
      <label class="control-label required" for="publisher">Publisher</label>
      <input class="form-control" id="publisher" formControlName="publisher">
      <div *ngIf="addForm.controls.publisher.dirty && addForm.controls.publisher.touched" class="text-danger">
        <div *ngIf="addForm.controls.publisher.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.publisher.errors?.minlength">
          The minimum length for this field is {{ addForm.controls.publisher.errors.minlength.requiredLength }}
          characters
        </div>
        <div *ngIf="addForm.controls.publisher.errors?.maxlength">
          The maximum length for this field is {{ addForm.controls.publisher.errors.maxlength.requiredLength }}
          characters
        </div>
      </div>

      <label class="control-label required" for="published">Published Year</label>
      <nz-date-picker class="form-control" formControlName="published" nzMode="year" style="width: 150px;">
      </nz-date-picker>
      <div *ngIf="addForm.controls.published.dirty && addForm.controls.published.touched" class="text-danger">
        <div *ngIf="addForm.controls.published.errors?.required">
          This field is required
        </div>
      </div>

      <label class="control-label required" for="pages">Page Number</label>
      <input class="form-control" id="pages" formControlName="pages" type="number" min="0" max="9999" step="1">
      <div *ngIf="addForm.controls.pages.dirty && addForm.controls.pages.touched" class="text-danger">
        <div *ngIf="addForm.controls.pages.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.pages.errors?.min">
          The number of pages must be a positive integer
        </div>
        <div *ngIf="addForm.controls.pages.errors?.max">
          The maximum value for this field is {{ addForm.controls.pages.errors.max.max }} pages
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <label class="control-label required" for="rating">Rating</label>
      <input class="form-control" id="rating" formControlName="rating" type="number" min="0" max="5" step="0.5">
      <div *ngIf="addForm.controls.rating.dirty && addForm.controls.rating.touched" class="text-danger">
        <div *ngIf="addForm.controls.rating.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.rating.errors?.min">
          The minimum rating is {{ addForm.controls.rating.errors.min.min }}
        </div>
        <div *ngIf="addForm.controls.rating.errors?.max">
          The maximum rating is {{ addForm.controls.rating.errors.max.max }}
        </div>
      </div>

      <label class="control-label required" for="isbn10">ISBN-10</label>
      <input class="form-control" id="isbn10" formControlName="isbn10" type="number" pattern="[0-9]{10}">
      <div *ngIf="addForm.controls.isbn10.dirty && addForm.controls.isbn10.touched" class="text-danger">
        <div *ngIf="addForm.controls.isbn10.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.isbn10.errors?.pattern">
          A valid ISBN-10 consists of exactly 10 digits
        </div>
      </div>

      <label class="control-label required" for="isbn">ISBN-13</label>
      <input class="form-control" id="isbn" formControlName="isbn" type="number" pattern="[0-9]{13}">
      <div *ngIf="addForm.controls.isbn.dirty && addForm.controls.isbn.touched" class="text-danger">
        <div *ngIf="addForm.controls.isbn.errors?.required">
          This field is required
        </div>
        <div *ngIf="addForm.controls.isbn.errors?.pattern">
          A valid ISBN-13 consists of exactly 13 digits
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button nz-button type="submit" nzType="primary" [nzSize]="'large'">Save</button>
  </div>
</form>